<!doctype html>
<html lang="en" class="antialiased">
<head>
    <title>CookBook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body class="bg-gray-100 text-gray-900 tracking-wider leading-normal">
    <div id="recipients" class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
        <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="/">Back</a>
        <section class="container mx-auto">
            <h1 class="text-xl text-gray-900 leading-tight text-4xl">{{ recipe.name }}</h1>
            <p>{{ recipe.totalTime }} - {{ recipe.servings }} servings</p>
            <div class="mb-6">
                <h2 class="text leading-tight text-xl mb-3 mt-3 uppercase text-gray-900">Ingredients</h2>
                {% apply markdown_to_html %}
                    {{ recipe.ingredients }}
                {% endapply %}
            </div>

            <div class="mb-6">
                <h2 class="text leading-tight text-xl mb-3 mt-3 uppercase text-gray-900">Method</h2>
                {% apply markdown_to_html %}
                    {{ recipe.method }}
                {% endapply %}
            </div>
        </section>
    </div>
</body>
</html>